@page "/leftbar"
@inject NavigationManager NavigationManager
@inject HttpClient Http


<link rel="stylesheet" href="css/leftBarLayout.css">

<div class="sidebar">
    <nav>
        <ul>
            <li></li>
        </ul>
    </nav>
</div>



@code {

}