@inherits LayoutComponentBase

<div class="login-layout">
    <div class="content">
        @Body
    </div>
</div>

<style>
    .login-layout {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 8rem;
        background-color: #f5f5f5;
    }
    .content {
        align-items: center;
        background: white;
        padding: 4rem;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        width: 85rem;

    }
</style>
